[Unit]
Description=nodejs-backend

[Service]
Type=simple
Environment=NODE_PORT=8080
User=ec2-user
Group=ec2-user
ExecStart=/bin/bash -c 'cd /var/lightfeather-app/backend/ && npm ci && npm start'
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
